<h1>
  <%= link_to "bookers", books_path %>
</h1>

<h3>
  <%= @book.title %>
</h3>

<h3>
  <%= @book.body %>
</h3>

<p>
  <%= link_to "edit", edit_book_path(@book) %>
</p>

<p>
  <%= link_to "Destroy", book_path(@book), method: :delete %>
</p>
